 
.responsiveXStack {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .responsiveInput {
    width: 40%;
  }
  
 
  @media (max-width: 768px) {
    .responsiveXStack {
      flex-direction: column;
      align-items: center;
    }
    .responsiveInput {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  