.osCardsContainer {
  display: grid;
  grid-gap: 15px;

  grid-template-columns: repeat(3, 1fr);
}

.osCard {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.osCardSelected {
  background-color: #2a4af50d;
  border: 1px solid #2a4af566;
}

@media (max-width: 1000px) {
  .osCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .osCard:nth-child(3) {
    width: 205%;
  }
}

@media (max-width: 750px) {
  .osCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .osCard {
    width: 90%;
  }
  .osCard:nth-child(3) {
    width: 90%;
  }
}
