.osCardsContainer {
  display: grid;
  grid-gap: 16px;
  margin: 8px;
  grid-template-columns: repeat(3, 1fr)
}

 
.osCardsContainer {
  grid-template-columns: repeat(1, 1fr);
}
 
@media (min-width: 601px) {
  .osCardsContainer {
    grid-template-columns: repeat(2, 1fr);  
  }
}
 
@media (min-width: 901px) {
  .osCardsContainer {
    grid-template-columns: repeat(3, 1fr);  
  }
}

.osCard {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  min-width: 250px;
}

.osCard.selected {
  background-color: #2a4af50d;
  border: 1px solid #2a4af566;
}
