.osCardsContainer {
  display: flex;
    
  justify-content: space-between;
}

.osCard {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 16px;
  flex-basis: calc(33.333% - 10px);
}

.osCardSelected {
  background-color: #2a4af50d;
  border: 1px solid #2a4af566;
}

@media (max-width: 900px) {
  .osCard {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 680px) {
  .osCard {
    flex-basis: 100%;
  }
}
