.os-cards-container {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-gap: 15px;

  grid-template-columns: repeat(3, 1fr);
}

.os-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
}
.markdown-text {
  overflow-x: auto;
  width: 100%;
}
.os-card-selected {
  background-color: #2a4af50d;
  border: 1px solid #2a4af566;
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .os-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .os-card:nth-child(3) {
    width: 205%;
  }
}

@media (max-width: 850px) {
  .os-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .os-card {
    width: 100%;
  }
  .os-card:nth-child(3) {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .os-cards-container {
    grid-template-columns: repeat(1, 0.9fr);
  }
  .markdown-text {
    
    width: 80%;
  }
  
}
@media (max-width: 650px) {
  .os-cards-container {
    grid-template-columns: repeat(1, 0.65fr);
  }
  .markdown-text {
    overflow-x: auto;
    width: 70%;
  }
}
