.advisories-container {
  padding: 30px;
  justify-content: space-between;
  min-height: 65vh;
  width: 100%;
  display: grid;
}

 
@media screen and (max-width: 1000px) {
    .advisories-container {
        flex-wrap: wrap;
        margin: 30;
    }
  }