.deposit-container {
  width: 100%;
  padding: 16px 32px;
  align-items: start;
  padding-bottom: 30px;
}

.chain-parity-img-container {
  padding: 7.5% 20%;
}

@media (max-width: 880px) {
  .chain-parity-img-container {
    padding: 7.5% 10%;
  }
}

@media (max-width: 570px) {
  .chain-parity-img-container {
    padding: 7.5% 5%;
  }
}