@media (max-width: 1130px) {
  .sync-status-card-container-first {
    display: none;
  }
}

@media (max-width: 900px) and (min-width: 810px) {
  .sync-status-card-container-first {
    display: block;
  }
}

@media (max-width: 590px) {
  .sync-status-card-container-second {
    display: none;
  }
}

.tabs-container {
  width: 100%;
  border: 1px solid #e7eaee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 12px;
}

.tabs-settings-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid #e7eaee;
  background-color: #fafbfc;
  padding: 8px 16px;
}

.tabs-list-container {
  cursor: pointer;
  display: flex;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.search-filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  overflow: auto;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
  }

  .tabs-settings-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Hide Effectiveness */
@media (max-width: 1300px) {
  th:nth-child(7),
  td:nth-child(7) {
    display: none;
  }
}

/* Hide the Attestations */
@media (max-width: 1200px) {
  th:nth-child(6),
  td:nth-child(6) {
    display: none;
  }
}

/* Hide the Proposals */
@media (max-width: 1100px) {
  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
}

/* Hide and show Proposals */
@media (max-width: 900px) and (min-width: 800px) {
  th:nth-child(5),
  td:nth-child(5) {
    display: table-cell;
  }
}

/* Hide the Income */
@media (max-width: 1000px) {
  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}

/* Hide and show Income */
@media (max-width: 900px) and (min-width: 700px) {
  th:nth-child(4),
  td:nth-child(4) {
    display: table-cell;
  }
}

/* Hide Status */
@media (max-width: 560px) {
  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }
}

/* Hide Balance */
@media (max-width: 475px) {
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}
