.main-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
}

.cards-container {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.right-cards-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.basic-info-cards-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tabs-container {
  width: 100%;
  border: 1px solid #e7eaee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 12px;
}

.tabs-settings-container {
  display: flex;
  gap: 16px;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid #e7eaee;
  background-color: #fafbfc;
  padding: 8px 12px;
}

.tabs-list-container {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  white-space: nowrap;
}

.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.header-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.sync-status-cards-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 900px) {
  .cards-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .right-cards-container {
    flex-direction: column;
  }
}

@media (max-width: 810px) {
  .sync-status-cards-container {
    min-width: 100%;
  }
}

@media (max-width: 550px) {
  .sync-status-cards-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .tabs-settings-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-filter-container {
    width: 100%;
    overflow-x: auto;
  }

  .cards {
    flex-direction: column;
  }
}

/* Hide Effectiveness */
@media (max-width: 1280px) and (min-width: 1200px) {
  th:nth-child(7),
  td:nth-child(7) {
    display: none;
  }
}

@media (max-width: 1080px) {
  th:nth-child(7),
  td:nth-child(7) {
    display: none;
  }
}

/* Hide the Attestations */
@media (max-width: 960px) {
  th:nth-child(6),
  td:nth-child(6) {
    display: none;
  }
}

/* Hide the Proposals */
@media (max-width: 760px) {
  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
}

/* Hide Income */
@media (max-width: 660px) {
  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}

/* Hide Status */
@media (max-width: 520px) {
  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }
}

/* Hide Balance */
@media (max-width: 420px) {
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}
