.main-container {
  display: flex;
  gap: 8px;
}

@media (max-width: 1150px) and (min-width: 1000px) {
  .main-container {
    display: block;
  }

  .main-container > * {
    margin-bottom: 8px;
  }

  .main-container > *:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .main-container {
    display: block;
  }

  .main-container > * {
    margin-bottom: 8px;
  }

  .main-container > *:last-child {
    margin-bottom: 0;
  }
}
