.autocomplete-container {
  position: relative;
  width: 100%;
}

input[type="text"],
.suggestion-list {
  box-sizing: border-box;
  width: 100%;
}

.suggestion-list {
  position: absolute;
  z-index: 1000;
  max-height: 210px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.suggestion-item {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 24px;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}

.suggestion-list::-webkit-scrollbar {
  width: 4px;
}

.suggestion-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2px;
}

.suggestion-list::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.suggestion-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.suggestion-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.suggestion-list::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}