.recovery-mechanism-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin-top: 40px;
}

.recovery-mechanism-container > div {
  flex: 1;
  width: 30%;
}

@media (max-width: 630px) {
  .recovery-mechanism-container > div {
    min-width: 40%;
  }
}
