table {
  width: 100%;
  border-spacing: 0;
  margin: 20px 0;
  font-size: 14px;
  border: 1px solid #e7eaee;
  border-radius: 16px;
}

th {
  border-bottom: 1px solid #e7eaee;
}

th,
td {
  padding: 9px 19px;
  text-align: center;
}
