.layout {
  background-color: #fff;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.layout::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(113, 64, 253, 0.075) 15%, rgba(255, 255, 255, 0) 50%);
}
.layout-left {
  flex: 0 0 55%;
  max-width: 55%;
  z-index: 2;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  height: 100%;
  /* padding: 70px 0 0; */
}
.container-inner {
  max-width: 70%;
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}

/* LAYOUT RIGHT ELEMENT WITH IMAGE TAKING UP THE WHOLE HIGHT OF THE VIEWPORT */
.layout-right {
  flex: 0 0 45%;
  max-width: 45%;
  z-index: 0;
}

.image-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.image-container::before {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.image-container::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -1%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
}
.image-container .background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140%;
  width: auto;
}
.image-container .nimbus-logomark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container .nimbus-logomark svg {
  height: 73px;
}

@media (max-width: 900px) {
  .layout-left {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container {
    justify-content: start;
    padding: 20px;
  }

  .container-inner {
    max-width: 100%;
    flex: 1 0 100%;
  }

  .layout-right {
    display: none;
  }
}
