.gradient-wrapper .image-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -1%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.0));
}
.gradient-wrapper .image-container .background-img {
  position: absolute;
  top: 50%;
  left: 75%;
  height: 230%;
  width: auto;
}