.overview-container {
  width: 121%;
}

.overview-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 258%;
}

.overview-card {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 12px;
  background-color: #fff;
  min-width: 21%;
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .overview-container {
    width: 100%;
  }

  .overview-cards {
    width: 100%;
  }
}

@media screen and (max-width: 775px) {
  .overview-card {
    min-width: 30%;
  }
}

@media screen and (max-width: 545px) {
  .overview-card {
    min-width: 50%;
  }
}
