.overviewCards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  width: 250%;
  margin-top: 10%;
}
.overviewCard {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  background-color: #fff;
  min-width: 220px;
}

@media screen and (max-width: 1000px) {
  .overviewCards {
    flex-direction: column;
  }
  .overviewCard {
    width: 35%;
    margin-bottom: 16px;
  }
}
