.layout {
  background-color: #fff;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 25px;
}
.layout::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layout-left {
  flex: 0 0 55%;
  max-width: 55%;
  z-index: 2;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 10%;
}
.container-inner {
  max-width: 70%;
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}

/* LAYOUT RIGHT ELEMENT WITH IMAGE TAKING UP THE WHOLE HIGHT OF THE VIEWPORT */
.layout-right {
  flex: 0 0 45%;
  max-width: 45%;
  z-index: 0;
}

.image-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.image-container::before {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.image-container::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -1%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
}
.image-container .background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140%;
  width: auto;
}
.image-container .nimbus-logomark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container .nimbus-logomark svg {
  height: 73px;
}

@media (max-width: 1000px) {
  .layout {
    height: auto;
  }

  .layout-left {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
  }

  .container {
    justify-content: start;
    padding: 20px;
  }

  .container-inner {
    max-width: 100%;
    flex: 1 0 100%;
  }

  .layout-right {
    flex: 0 0 100%;
    max-width: 100%;
    order: 0;
    margin-top: -10%;
    margin-bottom: -72%;
  }

  .image-container {
    margin: 0;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .image-container .background-img {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-5%); */
    clip-path: inset(0 0 85% 0);
    height: auto;
  }

  .image-container .nimbus-logomark {
    display: none;
  }

  .content,
  .breadcrumbBar,
  .other-elements {
    margin: 0;
    padding: 0;
  }

  .breadcrumbBar,
  .some-other-element {
    margin: 0;
    padding: 0;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .image-container .background-img {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  }

  .image-container::after {
    width: 100%;
    right: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0));
  }
}
