.custom-step {
  background-color: #ffffff;
}
div[class*='StepMain-'] {
  align-items: start;
}

div[class*='ConnectorContainer-'] {
  width: 100%;
}
span[class*='Connector-'] {
  position: relative;
  z-index: -1;
}

.custom-step::before {
  content: '';
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  border: 3px solid #e0e0e0;
  border-radius: 50%;
}
