.device-health-check {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 20px;
}
.device-health-check .frame-6 {
  height: 846px;
  left: 711px;
  position: absolute;
  top: 55px;
  width: 797px;
} 