#root {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
} */

.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.py-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}