name: "Deployment"

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
  deployments: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  cache-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v2
      - name: Cache yarn dependencies and cypress
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: ${{ runner.os }}-yarn-v3-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v3
      - name: Install dependencies if cache invalid
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn

  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: cache-dependencies
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18.x"
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Restore yarn dependencies
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: ${{ runner.os }}-yarn-v3-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v3
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Build Storybook
        run: yarn build-storybook --quiet
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: "./storybook-static"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
      - name: Pull Vercel configuration
        run: yarn vercel pull --scope metacraft-labs --yes --token ${{ secrets.vercel_token }}
      - name: Build Vercel bundle
        run: yarn vercel build --prod
      - name: Deploy to Vercel
        run: yarn vercel deploy --scope metacraft-labs --prebuilt --prod --token ${{ secrets.vercel_token }} > _vercel-deployment-url
      - name: Add deployment
        uses: actions/github-script@v6
        id: vercel-deployment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const deploymentUrl = fs.readFileSync('_vercel-deployment-url', 'utf8');
            console.log(deploymentUrl);
            const deployment = await github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.sha,
              environment: 'production',
              transient_environment: false,
              required_contexts: [],
              auto_merge: false,
              production_environment: true,
              payload: JSON.stringify({
                deploymentUrl,
              }),
            });
            console.log("::set-output name=deployment_id::" + deployment.data.id);
      - name: Add deployment status
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const deploymentUrl = fs.readFileSync('_vercel-deployment-url', 'utf8');
            console.log(deploymentUrl);

            await github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: ${{ steps.vercel-deployment.outputs.deployment_id }},
              state: 'success',
              environment_url: deploymentUrl,
              log_url: deploymentUrl,
              description: 'Deployed to Vercel',
              environment: 'production',
              auto_inactive: true,
            });
